body {
  background-color: black;
}

h1 {
  font-family: sans-serif;
  color: white;
  text-align: center;
}

#movies{
  height: 100%;
  width:50%;
}

img {
  display: inline-block;
  height: 100%;
  width:50%;
  float: center;
  z-index: 999;  
}

